@page
@model Library.Pages.AdminContent.ChangePasswordModel
@{
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5">
                <form method="post">
                    <input type="hidden" asp-for="@Model.ChangeAccount.Id" name="idAccount" />
                    <div class="form-group">
                        <label class="col-form-label" type="text" asp-for="@Model.ChangeAccount.Name">Имя пользователя</label>
                        <p>@Model.ChangeAccount.Name</p>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="@Model.ChangeAccount.Password">Пароль</label>
                        <input class="form-control" type="text" asp-for="@Model.ChangeAccount.Password" name="newPassword" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="notify"> Оповестить об изменении пароля</label>
                        <input type="checkbox" asp-for="@Model.notify" name="notify" />
                    </div>
                    <input class="btn btn-danger" type="submit" value="Изменить" />
                </form>
                </div>
        </div>
    </main>
</div>